body {
  font-family: 'Roboto', sans-serif;
  background-color: #F5F5F5;
}

.content-wrapper {
  position: relative;

  .content {
    margin-top: $general-margin;
  }
}

.general-margin-left {
  margin-left: $general-margin;
}

.general-margin-sides {
  margin-left: $general-margin;
  margin-right: $general-margin;
}