.featured-in-component {
  color: $text-dark-secondary;
  margin-bottom: $general-margin;

  .title {
    font-size: 18px;
    text-align: center;
    margin-top: 5px;
    text-transform: uppercase;
  }

  .grid {
    margin-left: $general-margin * 10;
    margin-right: $general-margin * 10;

    .featured {
      text-align: center;
      margin-bottom: 10px;
      font-weight: bold;
      font-size: 24px;
    }
  }

}